body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

.wrapper {
    padding-left: 6.5%;
    margin-top: 6vh;
}

.card1 {
    background-color: rgba(186, 213, 49, 1);
    background-image: url("shop.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    width: 23%;
    height: 500px;
    display: inline-block;
    text-align: center;
}

.card2 {
    background-color: rgba(186, 213, 49, 1);
    background-image: url("scott.png");
    background-position: 400px;
    background-size: cover;
    background-blend-mode: multiply;
    width: 23%;
    height: 500px;
    display: inline-block;
    text-align: center;
}

.card3 {
    background-color: rgba(186, 213, 49, 1);
    background-image: url("bosch.webp");
    background-position: 600px;
    background-size: cover;
    background-blend-mode: multiply;
    width: 23%;
    height: 500px;
    display: inline-block;
    text-align: center;
}

.card4 {
    background-color: rgba(186, 213, 49, 1);
    background-image: url("avanti.jpeg");
    background-position: 600px;
    background-size: cover;
    background-blend-mode: multiply;
    width: 23%;
    height: 500px;
    display: inline-block;
    text-align: center;
}

.text {
    background-color: rgba(36, 37, 38, 0.9);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-top: 410px;
}