body {
    background-color: #242526;
    color: white;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

a {
    color: white;
}

a:visited {
    color: white;
}

.wrapper {
    padding-left: 6.5%;
    margin-top: 10vh;
}

.card {
    background-color: grey;
    width: 23%;
    height: 500px;
    display: inline-block;
    text-align: center;
}